/* *{
    margin: 0;
    padding: 0;
} */
 h2{
    text-align: center;
    color: crimson;
 }
.AllCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: cadetblue;

}
.AllCards > .card{
    width: 100%;
}

.AllCards > .card > img{
    width: 100%;
    border-radius: 20px;
}
.card > p{
    text-align: center;
    font-size: larger
}
div> button{
    /* display: flex; */
    justify-content: center;
    place-items: center;
    padding: 10px;
    margin-left: 80px;
    /* justify-content:space-between; */
    justify-items: center;
    background-color: burlywood;
    border: none;
    
}
