body{
    margin: 0;
    height: 100vh;
    background-color: rgb(240, 115, 115);
}
.section0 > h3{
    margin: 0;
    background-color: rgb(67, 63, 63);
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;

}
.section1{
    margin-top: 15px;
    /* height: 100vh; */
    border-style: 2px solid black;
    justify-content: center;
    /* background-color: blue; */
    width: 100%;
    display: flex;
    column-gap: 20%;
    /* overflow: visible;    */
}

.part1{
    /* border: 2px solid black; */
    width: 40%;
    border: 1.5px solid rgb(62, 56, 56);
    padding: 0px 0px 0px 30px;
    line-height: 10px;
    transition: background-color 5s ease-in-out, rotate 5s ease-in-out;
    /* transition-duration: 5s ease-in-out 1s; */

}
.part1 > p{
    font-size: small;
}
.part1 > #img1{
    width: 54%;
    /* padding: 20px; */
    transition-property:border-radius ;
    /* transition-duration: 5s; */
    /* transition-delay: 2s; */
    transition: translate 5s ease-in-out 1.5s ;


}
#img1:hover{
border-radius: 50%;
transform: translateX(5px) ;

}
.part1:hover{
    background-color: aliceblue;
    rotate: 60deg ;
}

.part2{
    width: 15%;
    height: 10%;
    line-height: 30px;
    border: 1.5px solid rgb(62, 56, 56);
    padding: 10px 50px 5px 5px;
    display: inline-block;
    transition: transform  4s ease-in-out,4s background-color;
}
.part2 > #img2{
    width: 100%;
    }
.part2:hover{
    background-color: rgb(53, 148, 88);
    transform: scale(1.5) ;
}
.section2{
    margin: 10px;
    display: flex;
    column-gap: 5px;
    width: 100%;
    justify-content:space-evenly;

}
.part3{
    border: 1.5px solid rgb(62, 56, 56);
    width: 40%;
    padding: 0 0 0 10px;
    transition: 3s linear 0.2s;

}
.part3:hover{
    transform: skewX(50deg);
    opacity: 7%;
}
.part4{
    border: 1.5px solid rgb(62, 56, 56);
    width: 50%;
    padding: 0 0 0 10px;
    transition: translate 2s ease-in-out 1s, t;

}
.part4:hover{
    transform: translateX(40px);
    color: rgb(152, 63, 3);
    }
.section3{
    /* justify-content: center; */
    /* align-items: baseline; */
    text-align: center;
}

.section3 > h3{
    /* border: 1.5px solid rgb(62, 56, 56); */
    background-color: rgb(67, 63, 63);
    padding: 8px 0 8px 0;
    color: aliceblue;
    margin-top: 12rem;

}
